html{
    height: 100%;
  }
  
  body {
    width: 100%;
    min-height:100%;
    background: 
      linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8)),
      url('./Static/img/xd.JPG');
    background-attachment: fixed;
    background-size: cover; 
  }
  .wrapper{
      max-height: 35%;
  }

  .title{
    color: #db0258;
    font-family: 'Sriracha', cursive;
    font-size: 6em;
    padding: 0;
    margin: 2em 1em 0 1em;
    text-shadow: 3px 3px 10px #000;
    text-align: center;
    align-content: center;
}
  
  .btnC{
    color: #e23479;
    font-size: 1em;
    align-content: center;
    align-self: auto;
  }
  .btnWrappwer {
    display: flex;
    min-height: 2.2em;
    max-height: 2.3em;
    font-size: 4em;
    font-family: 'Sriracha', cursive;
    text-align: center;
    padding:10px 0px 20px 0px;
    margin-bottom: 6px;
    text-shadow: 3px 3px 10px #000;
    display: block;
  }